{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="card col-m6- px-0">
                <div class="card-header">
                    <h3 class="md-0 py-2">{% trans 'New project' %}</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% include 'common/form.html' with form=form %}
                        <button class="btn btn-success">
                            {% translate 'create' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}